# ignoring compiled files
*.o
*.so
# ignoring temporary files
*~
# ignoring all the files in the building documents
build/*
# ignoring the vim temporary files
*.swp
# ignoring the data folder
tests/data/*
